/* ---------- Google font */
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

/* ---------- Global style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: "Mali", sans-serif;
    color: #272727;
    background-color: white;
}

/* ---------- Headings */

h1 {
    text-align: center;
    letter-spacing: 2px;
    margin: 15px;
    padding: 15px 0px 15px 0px;
    text-transform: capitalize;
}

h2, .headline {
    text-align: center;
    margin: 10px 15px;
}

.rules {
    text-align: center;
    margin: 10px 15px;
}

.rules > button {
    font-family: Arial;
    font-family: "Mali", sans-serif;
    font-weight: 500;
    color: #272727;
    background-color: #f6d5ff;
    border: #e580ff solid 1px;
    padding: 2px 3px 2px 3px;
    border-radius: 5px;
}

.rules > button:hover {
    background-color: #e580ff;
    font-weight: bold;
    transform: scale(1.1);
}

/* ---------- Controls Area */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px 0px 15px 0px;
}

.button {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
}

.button > img {
    height: 100%;
    width: 100%;
}

/* Amination to rotate the button on hover 360 degrees */
.button > img:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
}

/* ---------- Choice/Result Area */

.choice {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 15px;
    padding: 0px 0px 10px 0px;
}

.choice > div {
    margin: 0px 30px 0px 30px;
}

#user-choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

#user-choice > img {
    height: 100%;
    width: 100%;
    /* opacity: 30%; */
}

#bot-choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

#bot-choice > img {
    height: 100%;
    width: 100%;
    /* opacity: 30%; */
}

#results {
    text-align: center;
    height: 50px;
    margin: 10px 15px;
    padding: 10px 0px 10px 0px;
}

/* ---------- Score Area */
#score {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px 15px;
    padding: 10px 0px 10px 0px;
}

/* ---------- Rules Button */

#sequence-img {
    height: 40%;
    width: 40%;
    padding: 10px;
}

.pop-up {
    width: 600px;
    border: #272727 2px;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    visibility: hidden;
    background-color: white;
    border: solid #272727 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-up > div > p {
    padding: 5px;
}

#close {
    align-items: center;
    font-family: "Mali", sans-serif;
    font-weight: 200;
    color: #272727;
    background-color: #f6d5ff;
    border: #e580ff solid 1px;
    padding: 1px 2px 1px 2px;
    border-radius: 5px;
}

#close:hover {
    background-color: #e580ff;
    font-weight: bold;
    transform: scale(1.1);
}

/* ---------- Screen sizes 780px and smaller */

@media screen and (max-width: 780px){

    h1, h2, .headline, .controls, .choice, #results, #score, .rules {
        margin: 5px;
        padding: 5px;
    }

    .button, #bot-choice, #user-choice {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
}

/* ---------- Screen sizes 390px and smaller */

@media screen and (max-width: 390px) {

    h1, h2, .headline, .controls, .choice, #results, #score, .rules {
        margin: 5px;
        padding: 5px;
    }

    #results {
        height: auto;
    }

    .button, #bot-choice, #user-choice {
        display: flex;
        height: 80px;
        width: 80px;
        margin: 5px;
    }

    .choice {
        justify-content: space-around;
    }

    .choice > div {
        margin: 0px 10px 0px 10px;
    }

    body {
        font-size: smaller;
    }
}