/* ---------- Google font */
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

/* ---------- Global style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    font-family: "Mali", sans-serif;
    color: #272727;
    background-color: white;
}

/* ---------- Headings */

h1 {
    text-align: center;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    text-transform: capitalize;
}

h2, .headline {
    text-align: center;
    margin: 10px;
}

